body{
  background-color: blue;
}
.bot-collection, .your-bot-army {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bot-card {
  border: 2px solid #ccc;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.bot-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

button {
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}
